@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@font-face {
    font-family: 'Roboto Flex', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap') format('truetype');
    font-weight: 600;
    font-style: normal;
}

html[class="theme2"] {
    /* Main background color */
    --bg-primary-color: #0866FF;

    /* Secondary background color */
    --bg-secondary-color: #004099;


    /* title color variable*/
    --title-color: #ffffff;
    --title-shadow-color: #0866FF;

    /* text color variable*/
    --text-color: #ffffff;

    --font-family-title: 'Roboto Flex', sans-serif;

    /* buttons */
    --button-text-color: #ffffff;
    --button-bg-color: #004099;
    --button-hover-bg-color: #018001;
    --button-hover-shadow-color: #00ff00;

    /* textview */
    --textview-bg-color: #fff;
    --textview-color: #000000;

    /* modal */
    --modal-bg-color: transparent;
    --modal-content-box-bg-color: #fff;
    --modal-text-color: #000;
    --modal-border-color: #888;
    --modal-close-color: #aaa;
    --modal-close-hover-color: #ff0000;

    /* heart */
    --heart-color: #fff;

    /*social media*/
    --social-logo-color: #fff;
    --social-outline-color: #fff;
}